.header {
  font-size: 72px;
  line-height: 1.0555555556;
  font-weight: 700;
  letter-spacing: -0.012em;
}

@media only screen and (max-width: 1068px) {
  .header {
    font-size: 40px !important;
    line-height: 1.1 !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
  }
}

@media only screen and (max-width: 734px) {
  .header {
    font-size: 28px !important;
    line-height: 1.2858342857 !important;
    font-weight: 700 !important;
    letter-spacing: 0.007em !important;
  }
}
