.appSectionDiv {
  padding: 39px 0 0 0;
  .row {
    background-color: #f5f5f7;
    padding-top: 180px;
    .imgDivWapper {
      width: 100%;
      height: 460px;
      .imgDiv {
        width: 544px;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url("https://www.apple.com/v/apple-tv-plus/aa/images/overview/student_plan__bm7yp0v4tf6u_large.jpg");
      }
    }

    .textCol {
      display: flex;
      justify-content: center;
      height: 460px;

      .header {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 700;
        letter-spacing: 0em;
      }
      .linkBtn {
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        border-radius: 980px;
        background: #0071e3;
        min-width: 26px;
        padding: 12px 22px;
        font-size: 14px;
        line-height: 1.4285914286;
        letter-spacing: -0.016em;
        font-weight: 700;
        cursor: pointer;
        color: #fff;
        background-color: #1d1d1f;
        :hover {
          text-decoration: none !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1068px) {
  .header {
    font-size: 24px !important;
    line-height: 1.1666666667 !important;
    font-weight: 700 !important;
    letter-spacing: 0.009em !important;
  }
  .textCol {
    height: 350px !important;
  }
  .imgDivWapper {
    height: 350px !important;
  }
}

@media only screen and (max-width: 734px) {
  .row {
    padding-top: 50px !important;
  }
  .appSectionDiv {
    padding: 0 0 15px !important;
  }
  .header {
    font-size: 28px !important;
    line-height: 1.0714285714 !important;
    font-weight: 700 !important;
    letter-spacing: 0.012em !important;
    text-align: center !important;
  }

  .textCol {
    height: 180px !important;
  }
  .imgDivWapper {
    height: 400px !important;
  }
  .imgDiv {
    width: 299px !important;
    height: 282px !important;
    background-size: 299px 282px !important;
  }
}
