@import "../../styles/variable.scss";
.collageList {
  list-style: none;
  .collageHeader {
    font-size: 24px;
    line-height: 1.1666666667;
    font-weight: 600;
    letter-spacing: 0.009em;
    width: 100%;
    color: $black;
    font-weight: 600;
    .question {
      border-bottom: 1px solid #d2d2d7 !important;
      border: none;
      background-color: #ffffff;
      width: 100%;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 24px 0px;
    }
    .icon {
      background-image: url("../../public/upload.png");
      width: 24px;
      height: 20px;
    }
    .downIcon {
      background-image: url("../../public/down_arrow.png") !important;
      width: 24px;
      height: 20px;
    }
  }
  .answer {
    font-size: 17px;
    line-height: 1.4705882353;
    font-weight: 400;
    letter-spacing: -0.022em;
  }
  .toggleHeight {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s !important;
  }
  .toggleHeightDiv {
    overflow: hidden;
    max-height: 600px;
    height: auto;
    transition: max-height 0.6s !important;
  }
}

@media only screen and (max-width: 1068px) {
  .collageHeader {
    font-size: 21px !important;
    line-height: 1.1904761905 !important;
    font-weight: 600 !important;
    letter-spacing: 0.011em !important;
  }
}

@media only screen and (max-width: 734px) {
  .collageHeader {
    font-size: 19px;
    line-height: 1.2105263158;
    font-weight: 600;
    letter-spacing: 0.012em;
  }
}
