@import "./variable.scss";
@import "./text.scss";
@import "./flex.scss";
@import "./spacer.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Anek Malayalam", sans-serif;
  color: $black;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline !important;
  }
}

@media only screen and (max-width: 1068px) {
  .large6 {
    width: 50%;
  }
}

@media only screen and (max-width: 734px) {
  .small-12 {
    width: 100% !important;
  }
}
